:root{
    --background: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
}

 
.CoreMember {
    /* color: white; */
    /* padding: 3rem 2rem; */
    width: 350px;
    min-height: 400px;
    border-radius: 2rem;
    overflow-y: scroll;
    /* background-image: linear-gradient(to right, #2c5364, #203a43); */
}


.CoreImg img{
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}


@media only screen and (max-width: 768px) {
    .CoreMember{
        max-height: 600px;
    }
}


.CoreMember p{
    line-height: 150%;
}


.CoreImg{
    padding: 2rem 2rem;
    border-radius: 2rem;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

.vignette{
    position: relative;
    display: inline-block;
}

.vignette > img{
    display: block;
}

.vignette::after{
    content: "";
    border-radius: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 100px rgba(0,0,0,0.9);
}

.CoreMember::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.CoreMember {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}