:root{
  --background-image: linear-gradient(
    113.3deg,  
    rgba(217,9,27,1) 6.9%, 
    rgba(22,68,150,1) 75% );
  
  /* --home-image: linear-gradient(
    135deg,
    rgba(206,22,212,1) 0%, 
    rgba(240,240,240,1) 100%); */
  --home-image: linear-gradient(
    90deg,
    #FFFFFF 0%,
    #6284FF 50%, 
    #FF0000 100%);
}



@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.title-text{
  background-image: var(--background-image);
  background-clip: text;
  background-size: 400%;
  animation: bg-animation 5s infinite alternate;
} 

.title-text-parent{
  /* background-color: rgb(255 251 235); */
  border-style: solid;
  box-shadow: 20px 30px 100px black;
  background-color: white;
}

.title-intro {
  text-transform: uppercase;
	letter-spacing: .5em;
	/* display: block; */
	padding: 1.5em 0em;
  color: white;
  font-weight: 500;
}

.home{
  vertical-align: middle;
}

.my-block {
  text-align: center;
}

.my-block::before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.my-centered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}

.home{
  background-image: var(--home-image);
  background-size: 200%;
  animation: bg-animation 10s infinite alternate;
}
